services:
  db:
    image: postgres:17
    env_file: .env
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: SpaceScribe
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  server:
    build: ./server
    env_file:
      - ./server/.env
    depends_on:
      - db
    ports:
      - "8080:8080"
    volumes:
      - ./server:/app
      - /app/node_modules
    working_dir: /app
    command: npm run dev

  client:
    build: ./client
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - server

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  postgres-data:
