/* MODAL */
/* Modal.css */
.modal-polaroid-frame {
  width: 250px;
}

.modal-polaroid-photo {
  width: 19rem;
  height: auto;
  align-self: start;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(3, 3, 3, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-delete-wrapper {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 10;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* separates top and bottom */
  position: relative;
  height: 40rem;
  width: 40rem;
  overflow-y: hidden; /* stop inner scroll */
}

.modal-top-div {
  display: flex;
}

.modal-preview-date {
  align-self: flex-start;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  color: #c5c5c5;
  width: 100%;
  /* height: auto;
  border: 2px solid yellow; */
}

.modal-preview-date h3 {
  font-size: 105px;
  color: inherit;
  margin-bottom: 0px;
}

.modal-preview-date p {
  color: inherit;
}

.content-details {
  margin-top: 3rem;
  font-size: 1.2rem;
}

.content-details h2 {
  text-align: center;
  font-size: 1.5rem;
  color: #d6d5d5;
}
